div{
  color: #000;
  background: #F00;
  width: 200px;
  padding: 10px;
  margin: 10px
}
p{
  width: 200px;
  padding: 10px;
  margin: 10px
}
span{
  width: 200px;
  padding: 10px;
  margin: 10px;
  background: #676767
}
